[submodule "aion_control"]
	path = aion_control
	url = https://github.com/aionrobotics/aion_control.git
[submodule "aion_descriptions/aion_r1_description"]
	path = aion_descriptions/aion_r1_description
	url = https://github.com/aionrobotics/aion_r1_description.git
[submodule "aion_simulator/aion_r1_gazebo"]
	path = aion_simulator/aion_r1_gazebo
	url = https://github.com/aionrobotics/aion_r1_gazebo.git
[submodule "aion_descriptions/aion_m6v2_description"]
	path = aion_descriptions/aion_m6v2_description
	url = https://github.com/aionrobotics/aion_m6v2_description
[submodule "aion_simulator/aion_m6v2_gazebo"]
	path = aion_simulator/aion_m6v2_gazebo
	url = https://github.com/aionrobotics/aion_m6v2_gazebo
[submodule "aion_descriptions/aion_atv_description"]
	path = aion_descriptions/aion_atv_description
	url = https://github.com/aionrobotics/aion_atv_description
